nav ul li ul{
    display: none;
}
nav ul li:hover > ul {
    display: block;
}
.pegado{
    padding: 0px;
}
nav{
    width:100%;
    position: relative;
    display:block;
}

.ul-inline{
    display: inline-block;
}
.ul-izquierda{
    width:15%;
}
.ul-derecha{
    float: right;
    width:30%;
}
ul{
    
    list-style: none;
}
nav>ul>li{
    display: inline-table;
}
a{
    display: block;
}
nav{
    border-bottom: 2px #92DEDF solid;
}
footer{
    bottom:0;
}