.contenido{
    width: 1100px;
    padding: 1px;

    margin: auto;
    display: block;
    overflow: auto;
}
section{
    width: 365.5px;
    text-align: center;
    display: inline;
}

section p{
    width: 340px;
    text-align: justify;
}
section a{
    float: left;
}
@media screen and (max-width: 1024px){
     section{
        margin: auto;
        position: static;
    }
    .contenido{
        display: block;
        margin: auto;
        width: 98%;
    }
    .centro, .derecha, .izquierda{
        margin: 15%;
    }
}
@media screen and (max-width: 768px){
    section p{
        width: 100%;
    }
}
@media screen and (min-width:769px){
    .derecha{
        float: right;
    }
    .izquierda{
        float: left;
    }
    .centro{
        display: inline-block;
    }
}