body{
    background-color: #ff9764;
}
header{
    border: 2px black solid;
    padding: 0.5%;
}
img{
    width: 100%;
    height: 250px;
}
span.headerImagen{
    width: 500px;
    height: 500px;
    border: 2px yellow solid;
}

.headerConsultorio{
    border: 2px blue solid;
}