@media screen and (max-width: 1024px){
    header{
        width: 100%;
    }
    ul li input[type=text]{
        width: 150px;
        padding: 2px;
    }
    ul li input[type=submit], a{
        padding: 4px 4px;
    }
}