{% extends "layout.html.twig" %}
{% block javascript %}
    <script src="templates/js/validarFormPacientes.js"></script>
{% endblock %}
{% block content %}
	        <div class="container">
            	<div class="row">
            	   	<div class="col-sm-5">
            	   		<form method= "POST" name="formu_pacientes" action="#" onsubmit="return existe_Pac();">
            	   			<div class="container well">
            		   			<h1 class="text-center"><label>Ingrese los datos del paciente</label></h1><br>
            		   			<div class="form-group">
     	 							<label>Apellido (*):</label>
     								<input type="text" class="form-control" id="ApellidoP" placeholder="Apellido del paciente" required>
    							</div>
    							<div class="form-group">
      								<label>Nombre (*):</label>
     								<input type="text" class="form-control" id="NombreP" placeholder="Nombre del paciente" required>
    							</div>
    							<div class="form-group">
      								<label>fecha nacimiento (*):</label>
     								<input type="date" class="form-control" id="FecNacP" placeholder="Fecha de Nacimiento del paciente	" required>
    							</div>
    							<div class="form-group">
	      							<label>Genero (*):</label>
     									<select class="form-control" id="GeneroP" required>
        									<option>Masculino</option>
        									<option>Femenino</option>
        								</select>
    							</div>
    							<div class="form-group">
    	  							<label>Tipo de Documento (*):</label>
	     							<select class="form-control" id="TipoDocP" required>
     								<option>Documento nacional de inentidad (DNI)</option>
     									<option>Libreta Enrolamiento (l.e)</option>
     									<option>Pasaporte</option>
     									<option>Carnet extragero</option>
     									<option>Reg unico de contribuyentes (RUC)</option>
     								</select>
    							</div>
    							<div class="form-group">
      								<label>Numero de Documento (*):</label>
  		   							<input type="number" class="form-control" id="NroDocP" placeholder="Nro Documento del paciente" 	required>
	    						</div>
    							<div class="form-group">
      								<label>Domicilio (*):</label>
     								<input type="text" class="form-control" id="DomicP" placeholder="Domicilio del paciente" required>
    							</div>
    							<div class="form-group">
      								<label>Tel/Celular:</label>
    	 							<input type="number" class="form-control" id="TelefonoP" placeholder="Telefono del paciente">
	    						</div>
    							<div class="form-group">
      								<label>Obra social:</label>
     								<select class="form-control" id="ObraSocP">
     									<option>OSDE</option>
     									<option>IOMA</option>
    	 								<option>Swiss Medical</option>
	     								<option>OSPE</option>
     									<option>Otra</option>
     								</select>
    							</div>
    						</div>
                <div class="container well">
    							<h1 class="text-center"><label>Datos demograficos del paciente</label></h1><br>
    							<div class="radio">
    								<label>¿¿ Tiene Heladera ?? (*)</label><br>
      								<label><input type="radio" name="heladera" required>Si</label>
      								<label><input type="radio" name="heladera" required>No</label>
    							</div>
    							<div class="radio">
    								<label>¿¿ Tiene electricidad ?? (*)</label><br>
      								<label><input type="radio" name="electricidad" required>Si</label>
      								<label><input type="radio" name="electricidad" required>No</label><br>
    							</div>
    							<div class="radio">
                                    <label>¿¿ Tiene mascota(s) ?? (*)</label><br>
      								<label><input type="radio" name="mascota" required>Si</label>
      								<label><input type="radio" name="mascota" required>No</label>
    							</div>
    							<div class="form-group">
	      							<label>Tipo de vivienda:</label>
     									<select class="form-control" id="viviendaP">
        									<option>Casa</option>
        									<option>Depto</option>
        									<option>Otro</option>
        								</select>
    							</div>
    							<div class="form-group">
	      							<label>tipo de calefaccion:</label>
     									<select class="form-control" id="calefaP">
        									<option>Gas</option>
        									<option>Electrica por acumulacion</option>
        									<option>Electrica por convectores</option>
        									<option>Caldera con Radiador de agua</option>
        									<option>Emisor termoelectrico</option>
        									<option>Suelo radiante</option>
        									<option>Otro</option>
        								</select>
    							</div>
    							<div class="form-group">
	      							<label>tipo de agua:</label>
     									<select class="form-control" id="tipAguaP">
        									<option>Corriente</option>
        									<option>pozo</option>
        									<option>otro</option>
        								</select>
    							</div>
    						</div>
    						<button type="submit" class="btn btn-primary" onclick="return validarFormPac();">Confirmar</button>
            	   		</form>
            	    </div>
				</div>
			</div>
{% endblock %}