<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="templates/css/bootstrap.min.css" >
        <link rel="stylesheet" type="text/css" href="templates/css/estilos.css" >
	<script src="templates/js/jquery.js"></script>
	<script src="templates/js/bootstrap.min.js"></script>
        {% block stylesheets %}{% endblock %}
	<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<title>Inicio</title>
    </head>
    <body>
        <header>
            <nav class="navbar back-color">
                <div class="container-fluid">
                    <div class="navbar-header">
                       <a href="#" class="navbar-brand">{{ titulo_pagina }}</a>
                    </div>
                    {% block navlist %}  {% endblock %}
                </div>
            </nav>
        </header>
        {% block content %} {% endblock %}
        <footer>
            <div class="container">
                <div class="row centro-vertical">
                    <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                        <p>Proyecto de Software 2017<br>Consultorio del Niño Sano - Hospital Dr. Ricardo Gutierrez</p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                        <h3 class="title">Información de contacto</h3>
                        <p><i class="glyphicon glyphicon-map-marker"></i> 1900 La Plata, Provincia de Buenos Aires</p>
                        <p><i class="glyphicon glyphicon-globe"></i> {{ mail_contacto }}</p>
                        <p><i class="glyphicon glyphicon-earphone"></i> 0221 483-0171</p>
                        <p><i class="glyphicon glyphicon-time"></i> Abierto las 24 hs</p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>